.log-container{
    width: 896px;
    height: auto;
    background-color: #E7EDF7;
    padding: 36px;
    border-radius: 20px;

    h2{
       
        margin-bottom: 60px;
        
    }
}

.input-login{
   
    textarea{
        width: 787px;
        height: 176px;
        border: 1px solid  #E7E7E7;
        
        padding: 16px;
        border-radius: 10px;
        margin: 10px 0;
        outline: none;
    }
   

}

