textarea{
    width: 787px;
    height: 176px;
    border: 1px solid  #E7E7E7;
    
    padding: 16px;
    border-radius: 10px;
    margin: 10px 0;
    outline: none;
}

button{
    
    width: 243px;
    border-radius: 5px;
    padding: 8px 67px;
    background-color: #253F67;
    color: white;
    box-shadow: 0px 3px 6px 0px #40D57D4D;
}

.container-update{
    width: 1220px;
    background-color: #E7E7E7;
    border-radius: 20px;
}