.container-profile{
    width: 800px;
    background-color: #E7E7E7;
    border-radius: 10px;
    h2{
        font-size: 36px;
        font-weight: 700;
        color: #253F67;
    }
    h3{
        font-weight: 600;
        color: #253F67;
    }
    span{
        font-weight: 500;
        color: #253F67;
    }
}